table {
    background-color: #f8f8f8;
    width: 100%;
}

form {
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: center;
}

td, th {
    width: 25%;
}

mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
    padding-top: 20%;
}

.group-button {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1%;
    width: 90%;
    margin: 0 auto;
}

.group-button button {
    margin-left: 0.5%;
}

.table-container {
    height: 35vh;
    overflow: auto;
    width: 95%;
    margin: 0 auto;
}

.table-container-abatimento {
    margin-top: 2% !important;
    height: 25vh;
    overflow: auto;
    width: 30%;
    margin: 0 auto;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}

.pago {
    text-decoration: line-through;
    color: red;
}

.centralizar {
    text-align: center;
}